
*{margin:0; padding:0;}

body{ background:#e1e1e1; font-size:62.5%; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333;}

h3{ font-size:1.4em; color:#900; border:1px solid #FFDFDF; padding:0.5em; width:92%;}

div#topo{ width:100%; background:#333; overflow:hidden;}
	div#topo span{ float:left;}
	div#topo p{ font-size:1.3em; color:#666; float:right;}
		div#topo img{ height:1.6em;}
		div#topo p a{ float:right; background:#000; margin-left:2px; padding:0.3em 0.5em; text-decoration:none; color:#FFF;}

.cAlign{ min-width:240px; max-width:1024px; width:98%; margin:0 auto;}

div#content{overflow:hidden;}
	div#content h1{ margin:10px 0; font-size:2.2em;}
		div#content h1 span{ font-size:0.7em;}

	div#left{ display:none;}
	
	div#formulario{ text-align:center; background: #FFF;min-height:300px; padding:20px 15px; border-radius: 1em; box-shadow:inset 0 0 6px #666;}
		div#formulario span{ clear:both; margin-top:10px; font-size:1.3em; color:#999; display:block;}
		div#formulario input.txtImput,select{ border:1px solid #CCC; padding:3px 5px;}
		
		div#formulario p{ position:absolute; margin:25px 0 0 300px; font-size:1.4em; color:#09F; font-weight:700;}
		
		input.submitCadastro{ margin-top:7.5px; background:url(../images/cadastrar.png) no-repeat; width:105px; height:45px; border:none; position:absolute;}
			input.submitCadastro:hover{ cursor:pointer;}
			
div#footer{ text-align:center; clear:both; margin:50px 0 10px 0; font-size:1.2em;}

@media screen and (min-width:360px){
	body{ font-size:70%;}
	div#formulario span{ font-size:1.6em;}
	div#formulario input.txtImput{ width:70%; padding:0.5em;}
}

@media screen and (min-width:613px){
	div#formulario{ overflow:hidden; text-align:left; background:#FFF url(../images/fundo.png) right no-repeat;}
	div#formulario input.txtImput{ width:50%;}
}

@media screen and (min-width:613px){
	div#formulario div{ overflow:hidden;}
	div#formulario .inputFloat{ float:left; width:49%;}
	div#formulario .captchaFloat{ float:left; width:210px;}
	div#formulario input.txtImput{ width:240px;}
}

@media screen and (min-width:773px){
	body{ font-size:62.5%;}
	div#formulario{ width:70%; float:right;}
	div#left{ display:block; float:left; text-align:right; width:26%; min-height:300px; margin-top:23px}
		div#left ul{ list-style:none; margin-top:141px; font-size:1.6em;}
			div#left ul li{ padding-right:10px; border-bottom:1px solid #CCC; margin-bottom:15px; padding-bottom:20px;}
			div#left ul li:last-child{ border:none;}
	span.spanHide{ visibility:hidden;}
}

@media screen and (min-width:997px){
	div#content{ margin:0 6em;}
}