*{
	margin: 0;
	padding: 0;}

body{
	background: #e1e1e1;
	font-size: 62,5%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #ccc;}

ul{
	list-style: none;}

.cAlign{
	min-width: 240px;
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;}

div#topo{
	background: #ccc;
	padding: 0.3em 0;
	overflow: hidden;}

	div#topo img{
		float: left}

	div#topo span{
		float: right;}

		div#topo span a{
			margin-right: 2px;
			padding: 0.5em 1em;
			background: #000;
			color: #fff;}

div#content{
	margin: 1em 0;}

	div#left{
		display: none;}

	div#formulario{
		text-align: center;
		padding: 1em;
		background: #fff;
		box-shadow: inset 0 0 1em #666;
		border-radius: 0.5em;}

		div#formulario input.inputTxt, select{
			border: 1px solid #ccc;
			padding: 0.3em;
			margin-bottom: 1em;}

		div#formulario span{
			font-size: 1.3em;
			color: #999;
			display: block;}

		.submitCadastro{
			width: 121px;
			height: 53px;
			background: url(../images/cadastrar.png) no-repeat;
			border: none;
			position: absolute;
			margin-top: -10px;}

div#footer{}

