*{
	margin: 0;
	padding: 0;}

body{
	background: #e1e1e1;
	font-size: 62,5%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #ccc;}

h3{
	font-size:1.4em;
	color:#900;
	border:1px solid #FFDFDF;
	padding:0.5em;
	width:92%;}

ul{
	list-style: none;}

.cAlign{
	min-width: 240px;
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;}

div#topo{
	background: #000;
	padding: 0.3em 0;
	overflow: hidden;}

	div#topo img{
		float: left}

	div#topo span{
		float: right;}

		div#topo span a{
			margin-right: 2px;
			padding: 0.5em 1em;
			background: #000;
			color: #fff;}

div#content{
	margin: 1em 0;
	clear: both;
	overflow: hidden;}

	div#content h1{
		font-size: 1.6em;
		margin-bottom: 1em}

		div#content h1 span{
			font-size: 0.6em;}

	div#left{
		display: none;}

	div#formulario{
		text-align: center;
		padding: 1em;
		background: #fff;
		box-shadow: inset 0 0 1em #666;
		border-radius: 0.5em;}

		div#formulario input.inputTxt, select{
			border: 1px solid #ccc;
			padding: 0.3em;
			margin-bottom: 1em;}

		div#formulario span{
			font-size: 1.3em;
			color: #999;
			display: block;}

		.submitCadastro{
			width: 121px;
			height: 53px;
			background: url(../images/cadastrar.png) no-repeat;
			border: none;
			position: absolute;
			margin-top: -10px;}

div#footer{
	clear: both;
	margin: 4em 0 1em;
	text-align: center;
	font-size: 1.1em;
}

@media screen and (min-width: 360px) {
	body{
		font-size: 70%;}

		div#formulario{
			padding: 3em;}

			div#formulario input.inputTxt{
				width: 280px;}

			.submitCadastro{
				margin-top: 1em;}
}

@media screen and (min-width: 613px) {
	div#formulario{
		padding: 1.5em;
		text-align: left;
		background: #fff url(../images/fundo-cadastro.jpg) no-repeat right;}

		.submitCadastro{
			margin-top: -4px;}
}

@media screen and (min-width: 773px) {
	div#formulario{
		float: right;
		width: 545px;
		width: 70%}

		div#formulario div{
			overflow: hidden;}

		div#formulario input.inputTxt{
			width: 200px;}

	div#left{
		display: block;
		float: left;
		margin-top: 23px;
		width: 26%;
		color: #000;
		text-align: right;}

		div#left ul li{
			border-bottom: 1px solid #ccc;
			padding-bottom: 1.2em;
			margin-bottom: 1.5em;
			font-size: 1.3em;
			padding-right: 0.5em}

			div#left ul li:last-child{
				border: none;}

	.inputFloat{
		float: left;
		width: 240px;}

	.captchaFloat{
		float: left;
		width: 210px;}

	.spanHide{
		visibility: hidden;}
}

@media screen and (min-width: 997px) {
	div#content{
		margin: 0 6em;}
}